:root{
  --cor-primaria: #b41818; 
  --cor-secundaria: #702121;
  --cor-fundo: #1a1a1a;
  --branco: #dfdfdf;
  --fonte-principal: 'Inter', sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--cor-secundaria));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
nav{
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--cor-fundo);
  padding: 15px;
  border: 2px solid transparent;
  border-color: var(--cor-primaria);
  border-radius: 10px;
  text-decoration: none;
}

a {
  font-weight: 500;
  color: var(--branco);
  text-decoration: inherit;
}
a:hover {
  color: var(--cor-primaria);
  animation: ease;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
